### OCI Data Science - Useful Tips
<details>
<summary><font size="2">Check for Public Internet Access</font></summary>

```python
import requests
response = requests.get("https://oracle.com")
assert response.status_code==200, "Internet connection failed"
```
</details>
<details>
<summary><font size="2">Helpful Documentation </font></summary>
<ul><li><a href="https://docs.cloud.oracle.com/en-us/iaas/data-science/using/data-science.htm">Data Science Service Documentation</a></li>
<li><a href="https://docs.cloud.oracle.com/iaas/tools/ads-sdk/latest/index.html">ADS documentation</a></li>
</ul>
</details>
<details>
<summary><font size="2">Typical Cell Imports and Settings for ADS</font></summary>

```python
%load_ext autoreload
%autoreload 2
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

import logging
logging.basicConfig(format='%(levelname)s:%(message)s', level=logging.ERROR)

import ads
from ads.dataset.factory import DatasetFactory
from ads.automl.provider import OracleAutoMLProvider
from ads.automl.driver import AutoML
from ads.evaluations.evaluator import ADSEvaluator
from ads.common.data import ADSData
from ads.explanations.explainer import ADSExplainer
from ads.explanations.mlx_global_explainer import MLXGlobalExplainer
from ads.explanations.mlx_local_explainer import MLXLocalExplainer
from ads.catalog.model import ModelCatalog
from ads.common.model_artifact import ModelArtifact
```
</details>
<details>
<summary><font size="2">Useful Environment Variables</font></summary>

```python
import os
print(os.environ["NB_SESSION_COMPARTMENT_OCID"])
print(os.environ["PROJECT_OCID"])
print(os.environ["USER_OCID"])
print(os.environ["TENANCY_OCID"])
print(os.environ["NB_REGION"])
```
</details>

#### Validation for header devation concept

In [1]:
# importing the required packages
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [138]:
# read the data
df_4 = pd.read_csv(r'../validation.csv')

In [139]:
df_4.head()

,P_INV_START_DATE,P_INV_END_DATE,INVOICE_ID,INV,LANE_ID,CURRENCY,LOADING_DATE,INVOICE_DATE,BL_NUMBER,CARRIER,...,RATE_OFFERING_ID,INV_UNIT_PRICE,RATE_CURR,FOURTY_FEET_RATE_RECORD_ID,ASSIGNED_USER,INV_COMMENTS,L_INV_LINE_COMMENTS,CONTRACT_NO,INV_REASON_CODE,INV_CATEGORY
0,1/1/2023,30-04-2023,HLCU-BSC2112AZSG4-2138011963,2138011963,USORF-PKKHI-DRY,PKR,12/31/2021,1/31/2022,BSC2112AZSG4,HLCU,...,NaN,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/5/2023,31-08-2023,MSCU-MEDUV8289492-DI157324,DI157324,ESALG-ZADUR-REEFER,ZAR,1/16/2023,2/17/2023,MEDUV8289492,MSCU,...,RO_MSCU_V1,NaN,USD,RR_MSCU_PTLIS-ZADUR-REEFER_MINI_141122,NaN,NaN,NaN,NaN,NaN,NaN
2,01-09-2023,31-12-2023,CMCU-JAXS3M078265-JAXS3M078265,JAXS3M078265,USPHL-PRSJU-DRY,USD,2023-08-24,2023-08-25,JAXS3M078265,CMCU,...,NaN,82.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1/1/2023,30-04-2023,OOLU-2701363570-4163830711,4163830711,IDJKT-MYPKG-DRY,IDR,6/26/2022,6/28/2022,2701363570,OOLU,...,RO_OOLU_V1,145.0,USD,RR_OOLU_IDJKT-MYPKG-DRY_MAIN_010721,NaN,NaN,NaN,GW210021v038,NaN,NaN
4,01-01-2024,29-02-2024,HLCU-SYD231047907-2070014418,2070014418,AUSYD-HKHKG-DRY,HKD,2024-01-01,2024-02-02,SYD231047907,HLCU,...,RO_HLCU_V1,200.0,USD,RR_HLCU_AUSYD-HKHKG-DRY_40_MAIN_010723,NaN,NaN,NaN,NaN,NaN,NaN

In [140]:
df_4.shape

(33066, 79)

In [141]:
# taking the final dataframe
df_for_modeling = df_4[['H_EXCESS_FREIGHT_EUR','REFUND_EUR','NO_OF_CONTAINERS','QUANTITY','INV_LINE_TOTAL','INV_LINE_TOTAL_EUR',
                             'RATE_UNIT_PRICE','RLINE_TOTAL','RLINE_TOTAL_EUR','L_EXCESS_FREIGHT_EUR','INVOICE_ID','LANE_ID','CURRENCY','CARRIER','POL','POD','AMOUNT_DUE','AUDIT_STATUS','INVOICE_TYPE','RATETYPE',
                                 'CALCTYPE','ALTCARRIER','CODE','INV_UNIT_PRICE','ILINE_CURR','ALTLANE_FLAG','CARRIER_NAME','INVOICE_SOURCE','H_TOTAL_DEVIATION']]

In [8]:
df_for_modeling.isnull().sum()

H_EXCESS_FREIGHT_EUR        0
REFUND_EUR                  0
NO_OF_CONTAINERS            1
QUANTITY                    1
INV_LINE_TOTAL              0
INV_LINE_TOTAL_EUR          0
RATE_UNIT_PRICE             0
RLINE_TOTAL                 0
RLINE_TOTAL_EUR             0
L_EXCESS_FREIGHT_EUR        0
INVOICE_ID                  0
LANE_ID                    27
CURRENCY                    0
CARRIER                     0
POL                         0
POD                         0
AMOUNT_DUE                  0
AUDIT_STATUS               27
INVOICE_TYPE               27
RATETYPE                   27
CALCTYPE                   27
ALTCARRIER              43831
CODE                        0
INV_UNIT_PRICE          18312
ILINE_CURR                  0
ALTLANE_FLAG                0
CARRIER_NAME                0
INVOICE_SOURCE              0
H_TOTAL_DEVIATION           0
dtype: int64

In [142]:
# remove 'ALTCARRIER','INV_UNIT_PRICE' since there are many null values.
df_for_modeling.drop(columns = ['ALTCARRIER','INV_UNIT_PRICE','LANE_ID'], inplace = True)

In [143]:
# Extract numeric values from strings using a regular expression
df_for_modeling['amount_numeric'] = df_for_modeling['AMOUNT_DUE'].str.extract(r'(\d+\.\d+)').astype(float)

In [144]:
df_for_modeling['H_TOTAL_DEVIATION'] = df_for_modeling['H_TOTAL_DEVIATION'].str.extract(r'([-]?\d+\.\d+)').astype(float)

In [145]:
# consider only these contract charges OCF, BAF, DTHC, OTHC for both 20ft & 40ft
df_for_modeling = df_for_modeling[(df_for_modeling['CODE'] == 'OCF_40')|(df_for_modeling['CODE'] == 'OCF_20') | (df_for_modeling['CODE'] == 'BAF_40') |(df_for_modeling['CODE'] == 'BAF_20') | (df_for_modeling['CODE'] == 'DTHC_40') |(df_for_modeling['CODE'] == 'DTHC_20') | (df_for_modeling['CODE'] == 'OTHC_40') | (df_for_modeling['CODE'] == 'OTHC_20')]

In [146]:
df_for_modeling.drop_duplicates(subset = 'INVOICE_ID', keep = 'first',inplace = True)

In [147]:
# drop the invoice id column since it might lead to overfitting of the model
df_for_modeling.drop(columns = ['INVOICE_ID','AMOUNT_DUE'], inplace = True)

In [148]:
# deriving the target column from 'H_EXCESS_FREIGHT_EUR', and 'L_EXCESS_FREIGHT_EUR' based on their values
conditions = [
    (df_for_modeling['H_TOTAL_DEVIATION'] < 0),  # Both negative
    (df_for_modeling['H_TOTAL_DEVIATION'] == 0),
    (df_for_modeling['H_TOTAL_DEVIATION'] > 0)
]
choices = ['neg', 'ok', 'pos']

# Create the new column based on the conditions and choices
df_for_modeling['act_invoice_status'] = np.select(conditions, choices, default='ok')

In [149]:
# Define a mapping dictionary
status_mapping = {'ok': 0, 'neg': 1, 'pos': 2}

# Replace the categorical values with the defined mapping
df_for_modeling['invoice_status_code'] = df_for_modeling['act_invoice_status'].replace(status_mapping)

In [150]:
df_for_modeling.drop(columns = ['H_EXCESS_FREIGHT_EUR','L_EXCESS_FREIGHT_EUR','H_TOTAL_DEVIATION','act_invoice_status'], inplace = True)

In [151]:
df_for_modeling.shape

(14460, 23)

In [152]:
df_for_modeling.dtypes

REFUND_EUR             float64
NO_OF_CONTAINERS       float64
QUANTITY               float64
INV_LINE_TOTAL         float64
INV_LINE_TOTAL_EUR     float64
RATE_UNIT_PRICE        float64
RLINE_TOTAL            float64
RLINE_TOTAL_EUR        float64
CURRENCY                object
CARRIER                 object
POL                     object
POD                     object
AUDIT_STATUS            object
INVOICE_TYPE            object
RATETYPE                object
CALCTYPE                object
CODE                    object
ILINE_CURR              object
ALTLANE_FLAG            object
CARRIER_NAME            object
INVOICE_SOURCE          object
amount_numeric         float64
invoice_status_code      int64
dtype: object

In [153]:
# Identify categorical variables. You might want to exclude certain columns that are not useful for modeling.
categorical_cols = df_for_modeling.select_dtypes(include=['object']).columns

# Apply One-Hot Encoding to these columns
df_ohe = pd.get_dummies(df_for_modeling, columns=categorical_cols)

In [154]:
df_ohe.dropna(inplace = True)

In [155]:
df_ohe.shape

(13497, 698)

In [156]:
from joblib import load
header_model = load(r'head_dev_classifier.joblib')

In [29]:
!ls

invoice.csv
UGOF.UL_INVOICE_PROCESS_REPORT_V1 (3).csv
UGOF.UL_INVOICE_PROCESS_REPORT_V1 (4).csv
UGOF.UL_INVOICE_PROCESS_REPORT_V1 (5).csv
UGOF.UL_INVOICE_PROCESS_REPORT_V1 (6).csv

In [128]:
def align_features(train_df, val_df):
    # Add missing dummy columns to validation set
    for column in train_df.columns:
        if column not in val_df.columns:
            val_df[column] = 0
    
    # Remove extra columns from validation set
    for column in val_df.columns:
        if column not in train_df.columns:
            val_df.drop(column, axis=1, inplace=True)
    
    # Ensure the order of columns matches the training set
    val_df = val_df[train_df.columns]
    
    return val_df

In [157]:
df_train = pd.read_csv(r'train.csv')

In [158]:
df_val_processed = align_features(df_train, df_ohe)

In [159]:
df_val_processed.shape

(13497, 761)

In [160]:
# target variable is not included in the unseen data
y_actual = df_val_processed['invoice_status_code'].copy()
X_unseen = df_val_processed.drop('invoice_status_code', axis=1, errors='ignore')

In [93]:
df_val_processed.head()

,REFUND_EUR,NO_OF_CONTAINERS,QUANTITY,INV_LINE_TOTAL,INV_LINE_TOTAL_EUR,RATE_UNIT_PRICE,RLINE_TOTAL,RLINE_TOTAL_EUR,amount_numeric,invoice_status_code,...,INVOICE_SOURCE_MANUAL EXTRACTION -Q1 2023,INVOICE_SOURCE_MANUAL EXTRACTION MAY 2023,INVOICE_SOURCE_MANUAL EXTRACTION Q1 - 2023,INVOICE_SOURCE_OMPROMPT AUG 2023,INVOICE_SOURCE_OMPROMPT JULY 2023,INVOICE_SOURCE_OMPROMPT JUNE - 2023,INVOICE_SOURCE_OMPROMPT JUNE 2023,INVOICE_SOURCE_OMPROMPT MAY 2023,INVOICE_SOURCE_OMPROMPT Q2 - 2023,INVOICE_SOURCE_OMPROMPT SEP 2023
1,0.0,2.0,2.0,17976.0,16950.34,0.0,0.0,0.00,32204.11,0,...,0,0,0,0,0,0,0,0,0,0
2,0.0,6.0,6.0,48240.0,40896.61,4300.0,25800.0,24327.92,44965.92,0,...,0,0,0,0,0,0,0,0,0,0
4,0.0,3.0,3.0,1248.0,1058.02,174.0,522.0,492.22,15046.29,2,...,0,0,0,0,0,0,0,0,0,0
6,0.0,2.0,2.0,16000.0,13564.38,9535.0,19070.0,18613.59,15378.62,1,...,0,0,0,0,0,0,0,0,0,0
11,0.0,1.0,1.0,14000.0,13664.94,0.0,0.0,0.00,16499.43,0,...,0,0,0,0,0,0,0,0,0,0

In [161]:
if 'Unnamed: 0' in X_unseen.columns:
    X_unseen = X_unseen.drop('Unnamed: 0', axis=1)

In [162]:
# Make predictions
predictions = header_model.predict(X_unseen)

In [163]:
# Create a DataFrame for the predictions
df_predictions = pd.DataFrame(predictions, columns=['predictions'])

# Append the actual values
df_predictions['actual'] = y_actual.reset_index(drop=True)  # Reset index to ensure alignment if needed

In [164]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Calculate accuracy
accuracy = accuracy_score(df_predictions['actual'], df_predictions['predictions'])
print(f'Accuracy: {accuracy:.4f}')

# Calculate precision
precision = precision_score(df_predictions['actual'], df_predictions['predictions'], average='weighted')
print(f'Precision: {precision:.4f}')

# Calculate recall
recall = recall_score(df_predictions['actual'], df_predictions['predictions'], average='weighted')
print(f'Recall: {recall:.4f}')

# Calculate F1 score
f1 = f1_score(df_predictions['actual'], df_predictions['predictions'], average='weighted')
print(f'F1 Score: {f1:.4f}')

Accuracy: 0.9250
Precision: 0.9253
Recall: 0.9250
F1 Score: 0.9250

#### Validation for line level deviation concept

In [181]:
# taking the final dataframe
df_for_ll_modeling = df_4[['H_EXCESS_FREIGHT_EUR','REFUND_EUR','NO_OF_CONTAINERS','QUANTITY','INV_LINE_TOTAL','INV_LINE_TOTAL_EUR',
                             'RATE_UNIT_PRICE','RLINE_TOTAL','RLINE_TOTAL_EUR','L_EXCESS_FREIGHT_EUR','INVOICE_ID','LANE_ID','CURRENCY','CARRIER','POL','POD','AMOUNT_DUE','AUDIT_STATUS','INVOICE_TYPE','RATETYPE',
                                 'CALCTYPE','ALTCARRIER','CODE','INV_UNIT_PRICE','ILINE_CURR','ALTLANE_FLAG','CARRIER_NAME','INVOICE_SOURCE','LINE_DEVIATION']]

In [182]:
# remove 'ALTCARRIER','INV_UNIT_PRICE' since there are many null values.
df_for_ll_modeling.drop(columns = ['ALTCARRIER','INV_UNIT_PRICE','LANE_ID'], inplace = True)

In [183]:
# Extract numeric values from strings using a regular expression
df_for_ll_modeling['amount_numeric'] = df_for_ll_modeling['AMOUNT_DUE'].str.extract(r'(\d+\.\d+)').astype(float)

In [184]:
df_for_ll_modeling['LINE_DEVIATION'] = df_for_ll_modeling['LINE_DEVIATION'].str.extract(r'([-]?\d+\.\d+)').astype(float)

In [185]:
# consider only these contract charges OCF, BAF, DTHC, OTHC for both 20ft & 40ft
df_for_ll_modeling = df_for_ll_modeling[(df_for_ll_modeling['CODE'] == 'OCF_40')|(df_for_ll_modeling['CODE'] == 'OCF_20') | (df_for_ll_modeling['CODE'] == 'BAF_40') |(df_for_ll_modeling['CODE'] == 'BAF_20') | (df_for_ll_modeling['CODE'] == 'DTHC_40') |(df_for_ll_modeling['CODE'] == 'DTHC_20') | (df_for_ll_modeling['CODE'] == 'OTHC_40') | (df_for_ll_modeling['CODE'] == 'OTHC_20')]

In [186]:
# drop the invoice id column since it might lead to overfitting of the model
df_for_ll_modeling.drop(columns = ['INVOICE_ID','AMOUNT_DUE'], inplace = True)
# deriving the target column from 'LINE_DEVIATION'
conditions = [
    (df_for_ll_modeling['LINE_DEVIATION'] < 0),  # Both negative
    (df_for_ll_modeling['LINE_DEVIATION'] == 0),
    (df_for_ll_modeling['LINE_DEVIATION'] > 0)
]
choices = ['neg', 'ok', 'pos']

# Create the new column based on the conditions and choices
df_for_ll_modeling['invoice_status'] = np.select(conditions, choices, default='ok')
# Define a mapping dictionary
status_mapping = {'ok': 0, 'neg': 1, 'pos': 2}

# Replace the categorical values with the defined mapping
df_for_ll_modeling['invoice_status_code'] = df_for_ll_modeling['invoice_status'].replace(status_mapping)
df_for_ll_modeling.drop(columns = ['H_EXCESS_FREIGHT_EUR','L_EXCESS_FREIGHT_EUR','LINE_DEVIATION','invoice_status'], inplace = True)

In [187]:
# Identify categorical variables. You might want to exclude certain columns that are not useful for modeling.
categorical_cols = df_for_ll_modeling.select_dtypes(include=['object']).columns

# Apply One-Hot Encoding to these columns
df_ll_ohe = pd.get_dummies(df_for_ll_modeling, columns=categorical_cols)
df_ll_ohe.dropna(inplace = True)

In [189]:
line_model = load(r'../linedev_classifier.joblib')

In [190]:
df_val_processed = align_features(df_train, df_ll_ohe)

In [191]:
# target variable is not included in the unseen data
y_actual = df_val_processed['invoice_status_code'].copy()
X_unseen = df_val_processed.drop('invoice_status_code', axis=1, errors='ignore')

In [192]:
if 'Unnamed: 0' in X_unseen.columns:
    X_unseen = X_unseen.drop('Unnamed: 0', axis=1)

In [193]:
# Make predictions
predictions = line_model.predict(X_unseen)

In [194]:
# Create a DataFrame for the predictions
df_predictions = pd.DataFrame(predictions, columns=['predictions'])

# Append the actual values
df_predictions['actual'] = y_actual.reset_index(drop=True)  # Reset index to ensure alignment if needed

In [195]:
# Calculate accuracy
accuracy = accuracy_score(df_predictions['actual'], df_predictions['predictions'])
print(f'Accuracy: {accuracy:.4f}')

# Calculate precision
precision = precision_score(df_predictions['actual'], df_predictions['predictions'], average='weighted')
print(f'Precision: {precision:.4f}')

# Calculate recall
recall = recall_score(df_predictions['actual'], df_predictions['predictions'], average='weighted')
print(f'Recall: {recall:.4f}')

# Calculate F1 score
f1 = f1_score(df_predictions['actual'], df_predictions['predictions'], average='weighted')
print(f'F1 Score: {f1:.4f}')

Accuracy: 0.9424
Precision: 0.9424
Recall: 0.9424
F1 Score: 0.9424